.post {
  width: 60%;
  margin: 15px auto;
  box-shadow: 3px 3px 6px rgba(100, 100, 100, 0.8);
  border-radius: 5px;
  background: #f4f4f4;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.post-content > h3 {
  margin: 0;
  color: #333;
}

.post-liker {
  display: flex;
  align-items: flex-end;
}

.post-liker > p {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: green;
}

.post-liker > .add-like, .post-liker > .remove-like {
  font-size: 1.3em;
  font-weight: bolder;
  margin: 0 3px;
  cursor: pointer;
}